extends base

block head 
    title Quản lý điện nước


block content

    .container-title Danh sách hoá đơn
    .container-navigation
        .container-search
            .container-find
            input.search(type='text' placeholder='Tìm kiếm theo tên phòng')
        button.btn.btn-primary.btn-new(data-toggle='modal' data-target='#addNewModal' type='button') Th&ecirc;m m&#x1EDB;i
    .table#invoice
        .table-header
            .table-header-title 
            .table-pagination
        .table-body
            table#table
        
        .pagination
                
    #addNewModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Thêm mới
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    div.mt-3
                        select#roomID.custom-select.custom-select-lg.mb-3(data-placeholder='Chọn tên phân loại')
                            option(value='') -----------Chọn Phòng-----------
                            each room in rooms
                                option(value= room.id)= `Phòng ${room.roomNumber} - Toà ${room.building.name}`
                    div.mt-3
                        label(for='') Tháng
                        select.input-text#month(type='number' placeholder='Nhập số lượng phòng')
                            option(value='') Chọn tháng
                            each n in [1,2,3,4,5,6,7,8,9,10,11,12]
                                option(value=n)= `Tháng ${n}`
                    div.mt-3
                        label(for='') Năm
                        input.input-text#year(type='number' placeholder='Nhập năm')
                    div.mt-3
                        label(for='') Chỉ số điện mới
                        input.input-text#electricity(type='number' placeholder='Nhập chỉ số điện mới')
                    div.mt-3
                        label(for='') Chỉ số nước mới
                        input.input-text#water(type='number' placeholder='Nhập chỉ số điện cũ')

                .modal-footer
                    button.btn.btn-primary.btn-add-new(type='button') Tạo
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng



    #infoModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Thông tin
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    div.mt-3
                        select#roomIDInfo.custom-select.custom-select-lg.mb-3(data-placeholder='Chọn tên phân loại' disabled)
                            option(value='') -----------Chọn Phòng-----------
                            each room in rooms
                                option(value= room.id)= `Phòng ${room.roomNumber} - Toà ${room.building.name}`
                    div.mt-3
                        label(for='') Tháng
                        select.input-text#monthInfo(type='number' placeholder='Nhập số lượng phòng' disabled)
                            option(value='') Chọn tháng
                            each n in [1,2,3,4,5,6,7,8,9,10,11,12]
                                option(value=n)= `Tháng ${n}`
                    div.mt-3
                        label(for='') Năm
                        input.input-text#yearInfo(type='number' placeholder='Nhập năm' disabled)
                    div.mt-3
                        label(for='') Chỉ số điện mới
                        input.input-text#electricity-startInfo(type='number' placeholder='Nhập chỉ số điện mới' disabled)
                    div.mt-3
                        label(for='') Chỉ số điện cũ
                        input.input-text#electricity-endInfo(type='number' placeholder='Nhập chỉ số điện cũ' disabled)
                    div.mt-3
                        label(for='') Tổng tiền điện
                        input.input-text#electricity-totalInfo(type='text' placeholder='Nhập chỉ số điện cũ' disabled)  
                    div.mt-3
                        label(for='') Chỉ số nước mới
                        input.input-text#water-startInfo(type='number' placeholder='Nhập chỉ số điện mới' disabled)
                    div.mt-3
                        label(for='') Chỉ số nước cũ
                        input.input-text#water-endInfo(type='number' placeholder='Nhập chỉ số điện cũ' disabled)
                    div.mt-3
                        label(for='') Tổng tiền nước
                        input.input-text#water-totalInfo(type='text' placeholder='Nhập chỉ số điện cũ' disabled)
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng


    #updateModal.modal.modal-center.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Bạn có muốn xác nhận thanh toán hoá đơn này
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;

                .modal-footer
                    button.btn.btn-primary.btn-update(type='button') Đồng ý
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
