extends base

block content

    .container-title=`Thông tin phòng ${room.roomNumber} - ${room.building.name}`
    .container-navigation

        a.btn.btn-primary.btn-back(href='/admin/room' type='button') Quay lại
        button.btn.btn-primary.btn-new(data-toggle='modal' data-target='#addNewModal' type='button') Thêm sinh viên
   
    .warp-container#room-child(data-id=`${room.id}`)
        .generalInformation
            .header Thông tin chung

            .body 
                .item Số phòng *
                    .value=`${room.roomNumber}`
                .item Tên toà nhà *
                    .value=`${room.building.name}`
                .item Giá *
                    .value=`${room.building.unitPrice}`
                .item Số sinh viên *
                    .value=`${room.presentStudent}`        
                .item Số sinh viên tối đa *
                    .value=`${room.maxStudent}` 
        .table
            .table-header
                 .table-header-title=`Thông tin sinh viên (${room.presentStudent} sinh viên)`
            .table-body
                table#table
            
                    
    #addNewModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Thêm sinh viên
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    label(for='') Sinh viên
                    select#studentSelect.custom-select.custom-select-lg.mb-3(data-placeholder='Chọn tên phân loại')

                .modal-footer
                    button.btn.btn-primary.btn-add-new(type='button') Thêm
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng



    //- #updateModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
    //-     .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
    //-         .modal-content
    //-             .modal-header
    //-                 h5.modal-title Cập nhật
    //-                 button.close(type='button' data-dismiss='modal' aria-label='Close')
    //-                 span(aria-hidden='true') &times;
    //-             .modal-body
    //-                 label(for='') Toà nhà
    //-                 select#buildingNameUpdate.custom-select.custom-select-lg.mb-3(data-placeholder='Chọn tên phân loại')
    //-                     option(value='')
    //-                     each building in buildings
    //-                         option(value= building.id)= building.name
    //-                 label(for='') Số phòng
    //-                 input.input-text#roomNumberUpdate(type='number' placeholder='Nhập số phòng')
    //-                 label(for='') Sinh viên tối đa
    //-                 input.input-text#maxStudentUpdate(type='number' placeholder='Nhập số sinh viên tối đa')

    //-             .modal-footer
    //-                 button.btn.btn-primary.btn-update(type='button') Cập nhật
    //-                 button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng


    #removeModal.modal.modal-center.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Bạn có muốn xoá sinh viên này ra khỏi phòng
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;

                .modal-footer
                    button.btn.btn-primary.btn-remove(type='button') Xoá
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
